* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background:#111315; 
}

p{
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color :white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color :white;
  margin-left: 40px;
  
}
#slogan-text{
  color: red;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  
}

/* Sidebar */
.side-bar {
  width: 22%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  
}
.slogan-img{
  border-bottom: 1px solid white;
}
.slogan-img img{
  width: 70%;
  height: 60%;
  margin-left: 30px;
}

.quick-links {
  height: 30%;
  
  border-bottom: 1px solid white;
}

.more-about-us {
  height: 30%;
  border-bottom: 1px solid white;
}

/* Main Content */
.main-content {
  width: 78%;
  margin-left: 22%;
  background-color: rgba(0, 0, 0, 0.527);
}

/* Navbar */
.nav-bar {
  height: 80px;
  background: #191D20;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  
}

.search-bar {
  flex-grow: 1;
}

.search-bar input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: #272A30;
}

#btn-signup, #btn-login {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  background: red;
}

.nav-logo img{
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-left: 20px;
}

/* Menu */
.menu-img img{
  height: 50vh;
  width: 100%;
  padding: 20px 20px 0 20px;
}

.menu {
  width: 100%;
  background: #191D20;
  padding: 20px;
}

.card-section {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  width: 225px;
  height: 200px;
  
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-img{
  width: 205px;
  height: 115px;
  background: yellow;
  border: 2px solid white;
}
.card-img img{
  width: 100%;
  height: 100%;
  text-align: right;
  align-items: center;
  border-radius: 7px;
  
}

.card-content{
  width: 205px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.card-content img{
  width: 40px;
  height: 40px;
 
}